<mat-card class="auth-form">
  <mat-tab-group>
    <mat-tab label="Log in">
      <mat-card class="example-card">
        <mat-card-content>
          <form>
            <mat-form-field class="full-width">
              <input matInput
                     placeholder="Email"
                     name="useremail"
                     #userEmail="ngModel"
                     [(ngModel)]="modelLog.email"
                     (keyup.enter)="login()"
                     required>
              <mat-error *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched) && userEmail.errors.required">
                Email is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput
                     placeholder="Password"
                     type="password"
                     name="password"
                     #userPass="ngModel"
                     [(ngModel)]="modelLog.password"
                     (keyup.enter)="login()"
                     required>
              <mat-error *ngIf="userPass.invalid && (userPass.dirty || userPass.touched) && userPass.errors.required">
                Password is required
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="login()" color="primary">Log in</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="Register">
      <mat-card class="example-card">
        <mat-card-content>
          <form>
            <mat-form-field class="full-width">
              <input matInput
                     placeholder="Username"
                     name="username"
                     #userName="ngModel"
                     [(ngModel)]="modelReg.username"
                     (keyup.enter)="register()"
                     required>
              <mat-error *ngIf="userName.invalid && (userName.dirty || userName.touched) && userName.errors.required">
                Username is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput
                     placeholder="Email"
                     name="useremail"
                     #userEmail_r="ngModel"
                     [(ngModel)]="modelReg.email"
                     (keyup.enter)="register()"
                     required>
              <mat-error *ngIf="userEmail_r.invalid && (userEmail_r.dirty || userEmail_r.touched) && userEmail_r.errors.required">
                Email is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput
                     placeholder="Password"
                     type="password"
                     name="password"
                     #userPass_r="ngModel"
                     [(ngModel)]="modelReg.password"
                     (keyup.enter)="register()"
                     required>
              <mat-error *ngIf="userPass_r.invalid && (userPass_r.dirty || userPass_r.touched) && userPass_r.errors.required">
                Password is required
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="register()" color="primary">Register</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>
