<div>
  <button mat-stroked-button
          color="accent"
          class="filter-button"
          (click)="sidenav.toggle()">
    Filter
  </button>

  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav-content>
      <mat-card class="task" *ngFor="let task of taskList">
        <mat-checkbox [(ngModel)]="task.completed" (change)="editTask(task)">
          <span [class.completed]="task.completed">{{task.task}}</span>
        </mat-checkbox>
        <span>
        <button mat-button color="accent" (click)="editTaskDialog(task)">edit</button>
        <button mat-button color="warn" (click)="deleteTask(task)">delete</button>
      </span>
      </mat-card>
    </mat-sidenav-content>

    <mat-sidenav #sidenav
                 position="end"
                 mode="over"
                 class="sidenav">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <h2 *ngIf="filter_message">no matches</h2>
    </mat-sidenav>
  </mat-sidenav-container>

</div>
