h1{
    color: #ffffff;
    text-align: center;
}
.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 750px;
    margin: 10px auto 10px;
}
.task-button {
    margin-right: 8px;
}