h1{
    color: #ffffff;
    text-align: center;
}
.done {
    /*color: #9d9d9d;*/
    color: #d0ca93;
    text-decoration: line-through;
}
.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.task-button {
    margin-right: 8px;
}