<div>
  <h1>Todolist</h1>

  <mat-card class="task">
    <mat-checkbox>
      <!--<span [class.completed]="todo.completed">{{todo.title}}</span>-->
      <span>task</span>
    </mat-checkbox>

    <span>
      <button mat-button color="accent">edit</button>
      <button mat-button color="warn">delete</button>
    </span>
  </mat-card>

  <mat-card class="task">
    <mat-checkbox>
      <!--<span [class.completed]="todo.completed">{{todo.title}}</span>-->
      <span class="done">some task</span>
    </mat-checkbox>

    <span>
      <button mat-button color="accent">edit</button>
      <button mat-button color="warn">delete</button>
    </span>
  </mat-card>

</div>
