h1{
    color: #ffffff;
    text-align: center;
}
.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 750px;
    margin: 10px auto 10px;
}
.task-button {
    margin-right: 8px;
}

.filter-button {
    position: absolute;
    top: 100px;
    right: 25px;
}

.sidenav {
    padding: 20px;
    min-height: 120px;
}

.sidenav h2 {
    text-align: center;
    color: #f44336;
}