/* You can add global styles to this file, and also import other style files */
body {
    background-color: #303030;
}
.dark-snackbar {
    background: #0e0e0e;
    text-align: center;
}
.completed {
    /*color: #9d9d9d;*/
    /*color: #d0ca93;*/
    color: #9c27b0;
    text-decoration: line-through;
}
